:root {
    --font_family: 'Plus Jakarta Sans', sans-serif;
    --color_fuente: #475569;
    --color_fuente2: #818CF8;
    --color_texto: #39475A;
}

body {
    font-family: var(--font_family);
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

/* Barra de navegacion */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    position: sticky;
    top: 0;
    opacity: 0;
    z-index: 1000;
    transition: all 0.5s ease;


    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__container_perfil {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 25px;
}

.nav__container_perfil p {
    font-size: 12px;
    font-weight: 600;
    color: var(--color_fuente);
}

.nav__container_switch {
    padding-right: 25px;
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__switch {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    cursor: pointer;
}

.header__perfil {
    width: 202px;
    height: 202px;
    background: url(../img/perfil/fotoPerfil.png), lightgray 50% / cover no-repeat;
    border-radius: 202px;
    border: 4px solid #818CF8;
}

.header__info h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--color_fuente);
}

.header__info p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color_fuente);
    text-align: center;
}

.header__container_i {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__container-iconGreen {
    width: 33px;
    height: 35px;
    border-radius: 10px;
    background: #A7F3D0;
    position: relative;
    cursor: pointer;
}

.tooltip-box {
    display: none;
    background-color: #1F2937;
    z-index: 500;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 110%;
    left: -99%;
}

.header__container-iconGreen:hover .tooltip-box {
    display: inline-block;
}

.tooltip-box::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top-color: #1F2937;
}

.header__container-iconGreen img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__container-iconResumen {
    width: 118px;
    height: 37px;
    border-radius: 6px;
    background: #E0E7FF;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.header__container-iconResumen:hover {
    background: #E6ECFF;

}

.header__container-iconResumen-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 3px;
}

.header__container-iconResumen a {
    text-decoration: none;
}

.header__container-iconResumen p {
    font-size: 14px;
    color: #7175F3;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 3px;
}

.header__container-iconResumen img {
    width: 29px;
    height: 29px;
}

.linea_punteada {
    width: 350px;
    height: 1px;
    border-bottom: 1px dotted #D1D5DB;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

/* Perfil */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__perfil {}

.section__perfil-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section__perfil-item h2 {
    color: var(--color_fuente2);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.section__perfil-info {
    width: 350px;
    height: 90px;
    margin-top: -20px;
}

.section__perfil-info p {
    color: var(--color_texto);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section__perfil-img {
    margin-top: 3px;
}

/* Proyectos */
.section__proyectos {
    margin-top: 32px;
}

.section__proyectos-titulo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.section__proyectos-titulo h2 {
    color: var(--color_fuente2);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section__proyectos-titulo_img {
    padding-top: 3px;
}

.section__proyectos-titulo_img img {
    width: 32px;
    height: 32px;
}

/* Proyectos, proyecto */

.section__proyectos-proy {
    margin-bottom: 20px;
}


.section__proyectos-proy_contImg {
    position: relative;
    width: 356px;
    height: 214px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: #E1E7FF;

}

.section__proyectos-proy_img {
    position: absolute;
    left: 30px;
    top: 30px;
    transition: all 0.5s ease;

}

.section__proyectos-proy_img img {
    width: 420px;
    border-radius: 30px 0 10px 0px;
}

.section__proyectos-proy_info h2 {
    color: #1E293B;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section__proyectos-proy_info p {
    color: var(--color_texto);
    font-size: 14px;
}

.section__proyectos-proy_tecnologias {
    display: flex;
    gap: 5px;
}

.section__proyectos-proy_tecnologias img {
    width: 30px;
    height: 30px;

}

.section__proyectos-proy_button {
    display: flex;
    width: 353px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    background: #0F172A;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.btn_publicacion {
    margin-top: 6px;
    background: transparent;
    color: #000000;
    border: 2px solid black;
}

.btn_publicacion img {
    display: none;
}

.section__proyectos-proy_small {
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.section__proyectos-proy_small-item {
    width: 345px;
    height: 122px;
    border-radius: 10px;
    border: 2px solid #F3F4F6;
    position: relative;
}

.arrow_up {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.arrow_up img {
    width: 30px;
    height: 30px;
}

.section__proyectos-proy_small-item h3,
.section__proyectos-proy_small-item p {
    padding-left: 25px;
}

.section__proyectos-proy_small-item h3 {
    color: #1E293B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section__proyectos-proy_small-item p {
    color: var(--color_texto);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -8px;
}

.section__proyectos-proy_small-tecnologias {
    display: flex;
    padding-left: 25px;
    margin-top: -10px;
    gap: 3px;
}

.section__proyectos-proy_small-tecnologias img {
    width: 20px;
    height: 20px;
}

/* Tecnologia */

.section__tecnologias {
    margin-top: 50px;

}

.section__tecnologias-titulo {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: start;
    margin-left: calc(50% - 175px);
}


.section__tecnologias-titulo h2 {
    color: var(--color_fuente2);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.section__tecnologias-titulo img {
    width: 30px;
    height: 30px;
    padding-top: 4px;
}

.section__tecnologias-contTeconologias {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    margin-left: calc(50% - 180px);

}

.section__tecnologias-contIcons h3 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: calc(50% - 160px);

}

.section__tecnologias-item {
    width: 105px;
    height: 80px;
    border-radius: 10px;
    border: 2px solid #F3F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.section__tecnologias-item_img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__tecnologias-item_img img {
    width: 44px;
    height: 44px;
}

.section__tecnologias-item_info {
    margin-top: 55px;
}

.section__tecnologias-item_info p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Contacto */

.section__contacto {
    margin-top: 50px;

}

.section__contacto-item {
    transition: all 0.5s ease;
}

.section__contacto-item:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.section__contacto-titulo {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: start;
    margin-left: calc(50% - 175px);
}

.section__contacto-titulo h2 {
    color: var(--color_fuente2);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section__contacto-titulo img {
    padding-top: 6px;
}

.section__contacto-contItems {
    display: flex;
    gap: 10px;
    margin-left: calc(50% - 175px);
}

.section__contacto-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 133px;
    height: 63px;
    border-radius: 10px;
    border: 1px solid #F0F0F0;
}

.section__contacto-item img {
    width: 30px;
    height: 30px;
}

.linkedin {
    color: #0288D1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.github {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Email */

.section__email {
    margin-top: 30px;
    padding-bottom: 60px;
}

.section__email-titulo {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: start;
    margin-left: calc(50% - 175px);
}

.section__email-titulo h2 {
    color: var(--color_fuente2);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section__email-titulo img {
    padding-top: 6px;
}

.section__email-cont {
    display: flex;
}

.section__email-cont_email {
    width: 300px;
    height: 25px;
    border-radius: 4px;
    background: #F2F2F2;
    position: relative;
}

.email {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__email-send {
    width: 35px;
    height: 23.75px;
    border-radius: 4px;
    background: #E0E7FF;
    position: relative;
}

.section__email-enviar {
    width: 35px;
    height: 23.75px;
    border-radius: 4px;
    background: #E0E7FF;
    position: relative;
}

.section__email-send img,
.section__email-enviar img {
    width: 22.5px;
    height: 21.25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__email-cont_icon {
    display: flex;
    gap: 6px;
    margin-left: 10px;
}

.tooltip-box_send {
    display: none;
    background-color: #1F2937;
    z-index: 500;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 140%;
    left: -55%;
}

.tooltip-box_copiar {
    display: none;
    background-color: #1F2937;
    z-index: 500;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 140%;
    left: -65%;
}

.section__email-send:hover .tooltip-box_send,
.section__email-enviar:hover .tooltip-box_copiar {
    display: inline-block;
}


.tooltip-box_send::after,
.tooltip-box_copiar::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top-color: #1F2937;
}

/* Mediaqueries */
@media only screen and (min-width: 1024px) {

    .nav {
        max-width: 720px;
        margin: auto;

    }

    .header__switch {
        left: 70%;
    }

    .main {
        max-width: 720px;
        margin-left: 313px;
        margin-right: 335px;
    }

    /* Header */
    .header {
        display: grid;
        grid-template-areas:
            "perfil info"
            "perfil cont";
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .header__info p {
        text-align: start;
    }

    .header__perfil {
        grid-area: perfil;
    }

    .header__info {
        grid-area: info;
    }

    .header__container_i {
        margin-top: -100px;
        grid-area: cont;
    }

    .linea_punteada {
        width: 720px;
        margin: 60px auto auto auto;
    }

    /* Perfil */

    .section__perfil {
        margin-top: 30px;
    }

    .section__perfil-info {
        width: 100%;
    }

    /* Proyecto */

    .section__proyectos {
        width: 100%;
    }

    .section__proyectos-proy {
        display: grid;
        grid-template-areas:
            "img info"
            "img info"
            "img info";
        gap: 27px;
    }

    .section__proyectos-proy_contImg {
        grid-area: img;
    }

    .section__proyectos-proy_info {
        grid-area: info;
        margin-top: -10px;
    }

    .cont_buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .section__proyectos-proy_button {
        width: 103px;
        height: 41px;
    }

    .btn_publicacion {
        background-color: #0F172A;
        color: white;
        width: 160px;
        height: 41px;
        margin-bottom: 7px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn_publicacion:hover img {
        transform: rotate(60deg);
    }

    .btn_publicacion img {
        display: flex;
        padding-top: 2px;
        transform: rotate(0deg);
        transition: all 0.5s ease;
    }

    .cont_section-proy_small {
        display: grid;
        grid-template-areas:
            "whater grafo"
            "remeras remeras";
        gap: 5px;
        margin-bottom: 0px;
    }

    .whater {
        grid-area: whater;
    }

    .grafo {
        grid-area: grafo;
    }

    .remeras {
        grid-area: remeras;
    }

    /* Tecnologias */
    .section__tecnologias {
        width: 100%;
    }

    .section__tecnologias-titulo,
    .section__tecnologias-contIcons h3,
    .section__tecnologias-contTeconologias {
        margin-left: 0px;
    }

    .section__tecnologias-item:hover {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }

    /* Contacto */

    .section__contacto {
        width: 100%;
    }

    .section__contacto-titulo,
    .section__contacto-contItems {
        margin-left: 0px;
    }

    /* Email */
    .section__email {
        width: 100%;

    }

    .section__email-titulo {
        margin-left: 0px;
    }

    .section__email-cont {
        justify-content: center;
    }

    .section__email-cont_email {
        width: 638px;
        height: 25px;
        display: flex;
    }

    .email {
        left: 25%;
    }
}